table tr:nth-last-of-type(even) td {
  background: #f9f9f9;
}

.mr {
  margin-right: 10px !important;
}

.mb {
  margin-bottom: 10px !important;
}

.df {
  display: flex;
}

.df > div {
  flex: 1;
}

.CodeMirror pre {
  box-shadow: none;
}

div[class*="rsg--logo"] {
  border-bottom: 0;
}

h1[class*="rsg--logo"] {
  padding-left: 40px;
  font-size: 16px;
}

div[class*="rsg--sidebar"] {
  border-right: 0;
}

pre > code[class*="rsg--code"] {
  background: none;
  box-shadow: none;
  padding: 0;
  font-size: 90%;
}

abbr {
  cursor: help;
}
